---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySgrtjSuvMoletnAsbDRVWi3OJM3ExepPnHsyU_NoyrDE4PF1ZZnDMp-gAT4Khl2JvfCqYfcn40VmuBCgaJ7XMiDn1evS9_Uuj-zgZxPeAfAowVPK6usGPTaPovux3SeEom_uIDq7-4YAmZWJf3rxZSqoQZkIuZpzAMeBAy0Vr3SVFK9OTA7ZCjgkS2_UnINcvP810nu46cnjnAeaM7zYN8eN9u5ASY99eNuJkVR_aX4rpVADgev8YFik8Qolb1Z6X-jUjCba12z7An3HalefEb-QY9-8F9aMw-QjacxZG821bDpkYv-iLSHV3JZVls2rPaYeTFG-JibPtGDM1nfTIbmhOx21TY6RYOgD9dIc81Wsce6D8m-YutlPfGCXsHlUhfVSdZSnllqtcBqn8qju_OksRgo7477yqmNsNUiQpvmDRnS3eVmOeJNCRDgNh2aUE1DrPN38cWuJeVAeP7R-rg2gWu2jMv_RACZz1AeI-VifgkTsMsX97PZ-_kmAGAisP-Nll2hNE1Ci10m4HJdgWS7Ea5WEdUviXma8YxceLWYyiRNExlQO1nSDU47ich-5QiPU_50s9JIZ3exeCcXQYjtqsUDfljLJbXN_BgfP6Dhg4hL98YG1_UsMNx7JCSMAw1LC1QrUjneHsWBwzbQdQEpDjuLi1SBDfvDXV13vzTlF0jO5uwiFiN1w4t7K7MWNokNQYPDrAtlbRRmPDV83H8lC58VSm-bZysxyJpO-4mBrVz2BMIhgyQ.uqhDy9uYUVP5NCtvEEVHdw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySg[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"type.value":"Adoption
        Agency"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySgrtjSuvMoletnAsbDRVWi3OJM3ExepPnHsyU_NoyrDE4PF1ZZnDMp-gAT4Khl2JvfCqYfcn40VmuBCgaJ7XMiDn1evS9_Uuj-zgZxPeAfAowVPK6usGPTaPovux3SeEom_uIDq7-4YAmZWJf3rxZSqoQZkIuZpzAMeBAy0Vr3SVFK9OTA7ZCjgkS2_UnINcvP810nu46cnjnAeaM7zYN8eN9u5ASY99eNuJkVR_aX4rpVADgev8YFik8Qolb1Z6X-jUjCba12z7An3HalefEb-QY9-8F9aMw-QjacxZG821bDpkYv-iLSHV3JZVls2rPaYeTFG-JibPtGDM1nfTIbmhOx21TY6RYOgD9dIc81Wsce6D8m-YutlPfGCXsHlUhfVSdZSnllqtcBqn8qju_OksRgo7477yqmNsNUiQpvmDRnS3eVmOeJNCRDgNh2aUE1DrPN38cWuJeVAeP7R-rg2gWu2jMv_RACZz1AeI-VifgkTsMsX97PZ-_kmAGAisP-Nll2hNE1Ci10m4HJdgWS7Ea5WEdUviXma8YxceLWYyiRNExlQO1nSDU47ich-5QiPU_50s9JIZ3exeCcXQYjtqsUDfljLJbXN_BgfP6Dhg4hL98YG1_UsMNx7JCSMAw1LC1QrUjneHsWBwzbQdQEpDjuLi1SBDfvDXV13vzTlF0jO5uwiFiN1w4t7K7MWNokNQYPDrAtlbRRmPDV83H8lC58VSm-bZysxyJpO-4mBrVz2BMIhgyQ.uqhDy9uYUVP5NCtvEEVHdw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":6,"max_score":6.5534096,"hits":[{"_index":"facilities","_type":"facility","_id":"380506694","_score":6.5534096,"_source":{"href":null,"id":"380506694","type":{"id":"400","value":"ADOPTION
        AGENCY"},"name":"Friendly Family Adoption","licensee_name":"Friendly Family
        Inc.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"380506694","status":{"id":"3","value":"LICENSED"},"capacity":10,"license_effective_date":{"year":2009,"month":"FEBRUARY","era":"CE","dayOfMonth":12,"dayOfWeek":"THURSDAY","dayOfYear":43,"leapYear":false,"monthValue":2,"chronology":{"calendarType":"iso8601","id":"ISO"}},"original_application_recieved_date":{"year":2008,"month":"NOVEMBER","era":"CE","dayOfMonth":8,"dayOfWeek":"SATURDAY","dayOfYear":313,"leapYear":true,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":{"month":"SEPTEMBER","year":2015,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":19,"dayOfWeek":"SATURDAY","dayOfYear":262,"monthValue":9,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":{"id":"9","value":"PLAN
        OF CORRECTION"},"last_deferred_visit_reason":null,"county":{"id":"38","value":"SAN
        FRANCISCO","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"4157592306"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"1786
        24th Ave","city":"San Francisco","state":"CA","zip_code":"94116","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"PO
        Box 12099","city":"San Francisco","state":"CA","zip_code":"94116","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"month":"OCTOBER","year":2011,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":28,"dayOfWeek":"FRIDAY","dayOfYear":301,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"month":"NOVEMBER","year":1991,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":6,"dayOfWeek":"WEDNESDAY","dayOfYear":310,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":12,"prelicensing_visit_date":null,"children":[],"inspections":[],"complaints":[{"id":"9035","complaint_date":{"month":"JULY","year":2015,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":26,"dayOfWeek":"SUNDAY","dayOfYear":207,"monthValue":7,"chronology":{"calendarType":"iso8601","id":"ISO"}},"assigned_worker":"Mullah
        Mahaboob","control_number":"26-CR-20150726123209","priority_level":"3","status":"Approved","approval_date":{"month":"DECEMBER","year":2015,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":14,"dayOfWeek":"MONDAY","dayOfYear":348,"monthValue":12,"chronology":{"calendarType":"iso8601","id":"ISO"}},"pre_investigation_comments":"","post_investigation_comments":"See
        Attached letter.  Reiser is a supervisor for Fresno County CPS.","contact_summary":"LIC
        9099 dated 11/23/04, 1/3/05&#13;&#10;LIC 812 date of visit 11/23/04, 1/3/05","followup_comments":"","allegations":[{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""},{"complaint_code":"3","allegation":"Client
        Miguel Delatorre (8-28-88)    Miguel was beat up by an older and bigger child
        at GH. (name unknown) Staff did nothing to stop this.  Staff told Miguel not
        to say anything. Miguel called his mother and told her this.","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":"U"},{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""}]},{"id":"9035[...]
