---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySgrtjSuvMoletnAsbDRVWi3OJM3ExepPnHsyU_NoyrDE4PF1ZZnDMp-gAT4Khl2JvfCqYfcn40VmuBCgaJ7XMiDn1evS9_Uuj-zgZxPeAfAowVPK6usGPTaPovux3SeEom_uIDq7-4YAmZWJf3rxZSqoQZkIuZpzAMeBAy0Vr3SVFK9OTA7ZCjgkS2_UnINcvP810nu46cnjnAeaM7zYN8eN9u5ASY99eNuJkVR_aX4rpVADgev8YFik8Qolb1Z6X-jUjCba12z7An3HalefEb-QY9-8F9aMw-QjacxZG821bDpkYv-iLSHV3JZVls2rPaYeTFG-JibPtGDM1nfTIbmhOx21TY6RYOgD9dIc81Wsce6D8m-YutlPfGCXsHlUhfVSdZSnllqtcBqn8qju_OksRgo7477yqmNsNUiQpvmDRnS3eVmOeJNCRDgNh2aUE1DrPN38cWuJeVAeP7R-rg2gWu2jMv_RACZz1AeI-VifgkTsMsX97PZ-_kmAGAisP-Nll2hNE1Ci10m4HJdgWS7Ea5WEdUviXma8YxceLWYyiRNExlQO1nSDU47ich-5QiPU_50s9JIZ3exeCcXQYjtqsUDfljLJbXN_BgfP6Dhg4hL98YG1_UsMNx7JCSMAw1LC1QrUjneHsWBwzbQdQEpDjuLi1SBDfvDXV13vzTlF0jO5uwiFiN1w4t7K7MWNokNQYPDrAtlbRRmPDV83H8lC58VSm-bZysxyJpO-4mBrVz2BMIhgyQ.uqhDy9uYUVP5NCtvEEVHdw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySg[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Alameda"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..pERathInCR61oFnP.onOwE4N2fU2y3WsnMGD5M3ZdTGCl8-FKhI1qHm-pjLMeT0JimSpu-QIG0DscMDLyHzMLH1lDfUGf0QBMOEBvCKBnPBoRezC8hxQqC3wm-44VHH01zMltuQn47YczDFm62-M9RbqeK-sgS_eLqsUOTXjzpJhqJRMABNmtkDs-r6het-3w_ZyxM1gk6k42lUBQVZvu8HWF8-8sOwUV1geM4Ju5VpNZ19lH-p4Wl-4DwnJEUyB4DC5ySgrtjSuvMoletnAsbDRVWi3OJM3ExepPnHsyU_NoyrDE4PF1ZZnDMp-gAT4Khl2JvfCqYfcn40VmuBCgaJ7XMiDn1evS9_Uuj-zgZxPeAfAowVPK6usGPTaPovux3SeEom_uIDq7-4YAmZWJf3rxZSqoQZkIuZpzAMeBAy0Vr3SVFK9OTA7ZCjgkS2_UnINcvP810nu46cnjnAeaM7zYN8eN9u5ASY99eNuJkVR_aX4rpVADgev8YFik8Qolb1Z6X-jUjCba12z7An3HalefEb-QY9-8F9aMw-QjacxZG821bDpkYv-iLSHV3JZVls2rPaYeTFG-JibPtGDM1nfTIbmhOx21TY6RYOgD9dIc81Wsce6D8m-YutlPfGCXsHlUhfVSdZSnllqtcBqn8qju_OksRgo7477yqmNsNUiQpvmDRnS3eVmOeJNCRDgNh2aUE1DrPN38cWuJeVAeP7R-rg2gWu2jMv_RACZz1AeI-VifgkTsMsX97PZ-_kmAGAisP-Nll2hNE1Ci10m4HJdgWS7Ea5WEdUviXma8YxceLWYyiRNExlQO1nSDU47ich-5QiPU_50s9JIZ3exeCcXQYjtqsUDfljLJbXN_BgfP6Dhg4hL98YG1_UsMNx7JCSMAw1LC1QrUjneHsWBwzbQdQEpDjuLi1SBDfvDXV13vzTlF0jO5uwiFiN1w4t7K7MWNokNQYPDrAtlbRRmPDV83H8lC58VSm-bZysxyJpO-4mBrVz2BMIhgyQ.uqhDy9uYUVP5NCtvEEVHdw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":0,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1,"max_score":3.668712,"hits":[{"_index":"facilities","_type":"facility","_id":"909045128","_score":3.668712,"_source":{"href":null,"id":"909045128","type":{"id":"433","value":"FFA
        CERTIFIED HOME"},"name":"West, Connie & Anthony CFH","licensee_name":"Seneca
        Family Services Inc.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"909045128","status":{"id":"16","value":"DE-CERTIFIED/RESCINDED"},"capacity":10,"license_effective_date":{"year":2013,"month":"SEPTEMBER","era":"CE","dayOfMonth":19,"dayOfWeek":"THURSDAY","dayOfYear":262,"leapYear":false,"monthValue":9,"chronology":{"calendarType":"iso8601","id":"ISO"}},"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"1","value":"ALAMEDA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9253737723"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"2340
        5th St","city":"Livermore","state":"CA","zip_code":"94550","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"2340
        5th St","city":"Livermore","state":"CA","zip_code":"94550","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"month":"OCTOBER","year":2011,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":28,"dayOfWeek":"FRIDAY","dayOfYear":301,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"month":"NOVEMBER","year":1991,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":6,"dayOfWeek":"WEDNESDAY","dayOfYear":310,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":12,"prelicensing_visit_date":null,"children":[],"inspections":[],"complaints":[{"id":"9068","complaint_date":{"month":"MAY","year":2014,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":30,"dayOfWeek":"FRIDAY","dayOfYear":150,"monthValue":5,"chronology":{"calendarType":"iso8601","id":"ISO"}},"assigned_worker":"Mullah
        Mahaboob","control_number":"26-CR-20140530091756","priority_level":"2","status":"Approved","approval_date":{"month":"OCTOBER","year":2014,"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":4,"dayOfWeek":"SATURDAY","dayOfYear":277,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"pre_investigation_comments":"","post_investigation_comments":"See
        Attached letter.  Reiser is a supervisor for Fresno County CPS.","contact_summary":"LIC
        9099 dated 11/23/04, 1/3/05&#13;&#10;LIC 812 date of visit 11/23/04, 1/3/05","followup_comments":"","allegations":[{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""},{"complaint_code":"3","allegation":"Client
        Miguel Delatorre (8-28-88)    Miguel was beat up by an older and bigger child
        at GH. (name unknown) Staff did nothing to stop this.  Staff told Miguel not
        to say anything. Miguel called his mother and told her this.","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":"U"},{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""}]}]}}]}}'
  recorded_at: Thu, 28 Dec 2017 21:35:57 GMT
recorded_with: VCR 3.0.3
